doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700&amp;subset=latin-ext" rel="stylesheet")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')

  style.
    :root {
      --accent-col: #316f07;
      --primary-col: #7DEC1F;
      --primary-dark: #56A315;

      --separator: #999999;

      --secondary-back: #ffffff;
      --primary-text: #ffffff;
      --secondary-back-text: #343342;

      --logo-back: #ffffff;
      --primary-back: #E2E0DE;
      --primary-back-text: #757575;

      --pad: 4px;
      --large-pad: 8px;

      --but-size: 8vw;

      --tile-ht: 7em;
      --intile-ht: calc(var(--tile-ht) - var(--pad)*4);

      --dark: #1c1c24;
      --darkish: #343342;
      font-family: "Open Sans";
    }


    body { 
        background-color: var(--darkish); 
        color: var(--primary-back-text);
        margin: 0;
        box-sizing: border-box; 
        padding-bottom: 8vh;
    }

    *, *::before, *::after { 
        font-family: "Open Sans", sans-serif;
    }
    .flex-container {
        display: flex;
        flex-direction: column;

        font-size: 1rem;
    }

    #contacts, #contact-us {
        margin: 5vw;
        padding: 5vw;
        background-color: var(--secondary-back);
        align-items: center;

    }

    .img {
        width: 30vw;
        height: 3rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    #about-us {
        margin-top: 1em;
        justify-content: flex-start;
        max-width: 70vw;
    }

    #city {
        padding-left: 1.9em;
        margin-bottom: 1vh;
    }

    #city p {
        margin: 0px;
    }

    #address, #web, #phone {
        flex-direction: row;
        width: 100%;
    }

    #address p {
        margin-bottom: 0px;
    }
    #about-us span {
        width: 1em;
        margin-right: 0.3em;
    }

    #web a {
        color: var(--primary-col);
    }

    #contact-us {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    #contact-us p {
        margin-top: 2vh;
        font-weight: bold;
    }

    #contactform label {
        padding: 0px;
    }

    #contactform input {
        height: 1.8em;
    }

    #contactform input:focus, #contactform textarea:focus {
        border-bottom: 2px solid var(--primary-col);
    }

    #contactform input, textarea {
        width: calc(100% - 4vw * 2);
        background-color: transparent;
        border: 0px;
        margin: 1vw 4vw;
        border-bottom: 1px solid var(--darkish);
    }

    #contactform button {
        border: 0;
        background-color: var(--darkish);
        color: var(--primary-col);
        border-radius: 3px;

        margin-left: calc(50% - 20vw);
        margin-top: 1em;
        margin-bottom: 1em;

        font-size: 1.2em;
      
        width: 40vw;
        height: 1.8em;

        justify-content: center;
        display: flex;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        z-index: 999;
        
        width: 100vw;
        height: 2rem;

        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--dark);

        justify-items: flex-start;
        align-items: center;
        padding-left: 2vw;
    }

    .btn-container span {
        display: flex;
        font-size: 1.4em;
        border: 0;
        background-color: var(--dark);
        color: var(--primary-col);
    }

    #thanks button {
      border-radius: 3px;
      border: 0px;
      background-color: var(--darkish);
      color: var(--primary-col);

    }

    #largebtn {
      padding: 0.5em;
    }

    #smallbtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
      height: 2em;
    }

    #smallbtn span {
      font-size: 0.9em;
    }




  body

    .flex-container#contacts
      .img(style="background-image: url(img/logo.png)")
      
      .flex-container#about-us      
        .flex-container#address
          span.material-icons place
          p  Sady Pětatřicátníků 173/31
        .flex-container#city
          p  Plzeň 301 00 
        .flex-container#web
          span.material-icons language
          a.link(href="http://skeleton.cz") skeleton.cz
        .flex-container#phone
          span.material-icons phone
          p 377 477 731


    .btn-container
      a(href="custompage://67/Home")
        span.material-icons arrow_back

    .flex-container#contact-us
      p Contact us
      form#contactform
        input(type="text" placeholder="Name" id="name")

        input(type="text" placeholder="Email" id="email" required)
        
        textarea#message(placeholder="Your message" required)

        button#send(type='submit' data-toggle='modal' data-target='#thanks')
          span.material-icons email

    #thanks.modal
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            h4.modal-title Thank you
            button#smallbtn(type="button" data-dismiss="modal")
              span.material-icons close

          .modal-body
            p We will reply to your message as soon as we can.

          .modal-footer
            button#largebtn(type="button" data-dismiss="modal") Close


  script.
    var email = document.getElementById("email");
    var message = document.getElementById("message");
    var sendbtn = document.getElementById("send");