doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")


    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700&amp;subset=latin-ext" rel="stylesheet")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='styles.css')
  
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
 
  body

    .flex-container#contacts
      .img(style="background-image: url(img/logo.png)")
      
      .flex-container#about-us      
        .flex-container#address
          span.material-icons place
          p  Sady Pětatřicátníků 173/31
        .flex-container#city
          p  Plzeň 301 00 
        .flex-container#web
          span.material-icons language
          a.link(href="http://skeleton.cz") skeleton.cz
        .flex-container#phone
          span.material-icons phone
          p 377 477 731


    .btn-container.btn-back
      a(href="home")
        span.material-icons arrow_back


    .flex-container#contact-us
      p Contact us
      form#contactform
        input(type="text" placeholder="Name" id="name")

        input(type="text" placeholder="Email" id="email" required)
        
        textarea#message(placeholder="Your message" required)

        button#send(disabled type='submit' data-toggle='modal' data-target='#thanks')
          span.material-icons email

    #thanks.modal
      .modal-dialog
        .modal-content
          .modal-header
            h1.modal-title Thank you
            button(type="button" data-dismiss="modal") &times

          .modal-body
            p We will reply to your message as soon as we can

          .modal-footer
            button(type="button" data-dismiss="modal") Close


  script.
    var email = document.getElementById("email");
    var message = document.getElementById("message");
    var sendbtn = document.getElementById("send");