doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700&amp;subset=latin-ext" rel="stylesheet")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

    link(rel='stylesheet', href='styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')


  body
    .flex-container#home-main
      a(href='custompage://69/Menu')
        .flex-container.home-tile
          span.material-icons  restaurant_menu 
          p.buttonDesc  Menu 
      a(href='custompage://71/News')
        .flex-container.home-tile
          span.material-icons  date_range
          p.buttonDesc  News 

      a(href='custompage://68/Order')
        .flex-container.home-tile
          span.material-icons  shopping_cart
          p.buttonDesc  Order

      a(href='')
        .flex-container.home-tile
          span.material-icons  phone
          p.buttonDesc  Contacts

