doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Open+Sans+Condensed:300&subset=latin-ext', rel='stylesheet')
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

    link(rel='stylesheet', href='styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')


  body
    .container-fluid
      button.mo-button.daybtn(data-toggle="collapse", data-target="#mo-food")
        p Monday
        i.material-icons expand_more

      .container-fluid.collapse.show#mo-food

        - 
          var foods = [
            ["Tomato soup", 30, "soup of tomatoes"],
            ["Lemon chicken", "120"],
            ["Vegetable korma", 100],
            ["Vegetable mix", 90],
            ["Tikka", 200, "gud fud"]
          ]

        each food in foods

          .row
            .container-fluid.foodTile
              .row
                .col-2.butt-container.btn-group-vertical
                  button.btn.add-food
                    i.material-icons  add

                  .amountBox 0

                  button.btn.remove-food
                    i.material-icons  remove 
                .col-7.food-info
                  p.foodname= food[0] 
                  p.foodprice= food[1] + " KÄ"
                  p.fooddesc= food[2] 
                .col-3.img-container
                  img(src='')

script.
  var food_amounts = document.querySelectorAll('.amountBox');
  food_amounts.forEach(function(amountElem) {
  var btnMore = amountElem.previousSibling;
  var btnLess = amountElem.nextSibling;
  btnMore.addEventListener("click", function() {
  var oldnum = amountElem.innerHTML;
  var newnum = parseInt(oldnum) + 1;
  amountElem.innerHTML = newnum;
  })
  btnLess.addEventListener("click", function() {
  var oldnum = amountElem.innerHTML;
  var newnum = parseInt(oldnum) - 1;
  amountElem.innerHTML = (newnum > 0) ? newnum : 0;
  })
  })
