doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Open+Sans+Condensed:300&subset=latin-ext', rel='stylesheet')
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

    link(rel='stylesheet', href='styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')


  body
    .container-fluid.show#foodpick
      button.mo-button.daybtn(data-toggle="collapse", data-target="#mo-food")
        p Monday
        em.material-icons expand_more

      .container-fluid.collapse.show.foods-container#mo-food

        - 
          var foods = [
            ["Tomato soup", 30, "soup of tomatoes"],
            ["Lemon chicken", "120"],
            ["Vegetable korma", 100],
            ["Vegetable mix", 90],
            ["Tikka", 200, "gud fud"]
          ]

        each food in foods
          .foodTile
            .btn-group-vertical.amount-container
              button.btn.add-food(onclick="addFood()")
                em.material-icons  add

              .amountBox 0

              button.btn.remove-food
                em.material-icons  remove 
            .foodinfo
              p.foodname= food[0] 
              p.foodprice= food[1] + " K훾"
              p.fooddesc= food[2] 
            .img-container
              img(src='')


    .flex-container#summary 
      p Your order
      .flex-container#sum-container


  .btn-container#foodbtn-container
    button#foodback(href='menu.html')
      i.material-icons arrow_back
    button#foodsubmit(href="summary.html")
      | Order
    button#foodreset(href='menu.html')
      i.material-icons  restore

script.
  var totalPrice = 0;
  var totalAmount = 0;
  var orderbtn = document.getElementById("foodsubmit");
  var orderPanel = orderbtn.parentNode;

  console.log("here");

  var foods = [];
  console.log("here");
  var food_amounts = document.querySelectorAll('.amountBox');
    
  console.log("food amounts", food_amounts);
  
  food_amounts.forEach(function(amountElem) {
    console.log("inside for")
    var btnMore = amountElem.previousSibling;
    var btnLess = amountElem.nextSibling;
    
    // ADD
    btnMore.addEventListener("click", function() {
      var oldnum = amountElem.innerHTML;
      var newnum = parseInt(oldnum) + 1;
      amountElem.innerHTML = newnum;

      var price = getPrice(amountElem);
      totalPrice += price;
      totalAmount += 1;
      var item = (totalAmount == 1) ? "item" : "items";
      
      orderPanel.style.display = "flex";
      orderbtn.innerHTML = totalAmount + " " + item + " for " + totalPrice + " K훾";
    })

    // REMOVE
    btnLess.addEventListener("click", function() {
      var oldnum = amountElem.innerHTML;
      var newnum = parseInt(oldnum) - 1;

      if (newnum >= 0) {
        amountElem.innerHTML = newnum;

        var price = getPrice(amountElem);
        totalPrice -= (totalPrice > 0) ? price : 0;
        totalAmount -= (totalAmount > 0) ? 1 : 0;

      }

      var item = (totalAmount == 1) ? "item" : "items";
      if (totalAmount <= 0 && totalPrice <= 0) {
        orderPanel.style.display = "none";
      }
      else {
        orderbtn.innerHTML = totalAmount + " " + item + " for " + totalPrice + " K훾";
      }
    })
  })

  // TEST
  function addFood() {
      var oldnum = amountElem.innerHTML;
      var newnum = parseInt(oldnum) + 1;
      amountElem.innerHTML = newnum;

      var price = getPrice(amountElem);
      totalPrice += price;
      totalAmount += 1;
      var item = (totalAmount == 1) ? "item" : "items";
      
      orderPanel.style.display = "flex";
      orderbtn.innerHTML = totalAmount + " " + item + " for " + totalPrice + " K훾";
  }
    // RESET
  var btnReset = document.getElementById("foodreset")
  btnReset.addEventListener("click", function() {
    totalPrice = 0;
    totalAmount = 0;
    orderPanel.style.display = "none";

    food_amounts.forEach(function(amountElem) {
      amountElem.innerHTML = "0";
    })
    foods = [];
    document.getElementById("sum-container").innerHTML = "";
    switchView(true);
  })

  // SUMMARIZE
  var summary = document.getElementById("summary");
  var foodpick = document.getElementById("foodpick");

  orderbtn.addEventListener("click", function() {

    foods = [];
    food_amounts.forEach(function(amountElem) {
      var amount = amountElem.innerHTML;
      if (parseInt(amount) > 0) {
        var price = getPrice(amountElem) * parseInt(amount);
        var foodName = amountElem.parentNode.nextSibling.firstChild;
        var food = [foodName.innerHTML , price];
        foods.push(food);
      }
    })
    documentFoods(foods);
    switchView();
  })

  function documentFoods(foods) {
    var node = document.getElementById("sum-container");

    foods.forEach(function(food) {
      var row = document.createElement("div");
      row.className = "row";
      
      var foodname = document.createElement("div");
      foodname.className = "col-9";
      foodname.innerHTML = food[0];
      console.log(food[0]);

      var foodprice = document.createElement("div");
      foodprice.className = "col-3";
      foodprice.innerHTML = food[1];

      node.appendChild(row);
      row.appendChild(foodname);
      row.appendChild(foodprice);
    })  
  }

  function switchView(home=false) {
    if (!home) {
      summary.classList.toggle("show");
      foodpick.classList.toggle("show");
    }
    else {
      summary.classList.remove("show");
      foodpick.classList.add("show");
    }

  }

  function getPrice(elem) {
      var parent = elem.parentNode;
      var foodinfo = parent.nextSibling;
      var price = foodinfo.getElementsByClassName("foodprice")[0].innerHTML;

      return parseInt(price);
  }
