doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700&amp;subset=latin-ext" rel="stylesheet")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')

  
  style.
    :root {
        --accent-col: #316f07;
        --primary-col: #7DEC1F;
        --primary-dark: #56A315;

        --separator: #999999;

        --secondary-back: #ffffff;
        --primary-text: #fcfad7;
        --secondary-back-text: #343342;

        --logo-back: #ffffff;
        --primary-back: #E2E0DE;
        --primary-back-text: #757575;

        --pad: 4px;
        --large-pad: 8px;

        --but-size: 8vw;

        --tile-ht: 7em;
        --intile-ht: calc(var(--tile-ht) - var(--pad)*4);

        --dark: #1c1c24;
        --darkish: #343342;
        font-family: "Open Sans";

    }


    body { 
        background-color: var(--darkish); 
        color: var(--primary-back-text);
        margin: 0;
        box-sizing: border-box;
        padding-bottom: 8vh;

        font-size: 16px;
        
    }

    *, *::before, *::after { 
        font-family: "Open Sans", sans-serif;
    }

    .flex-container {
        display: flex;
        flex-direction: column;

        font-size: 1rem;
    }
    .btn-container {
        display: flex;
        flex-direction: row;
        z-index: 999;
        
        width: 100vw;
        height: 2rem;

        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--dark);

        justify-items: flex-start;
        align-items: center;
        padding-left: 2vw;
    }

    .btn-container span {
        display: flex;
        font-size: 1.4em;
        border: 0;
        background-color: var(--dark);
        color: var(--primary-col);
    }
      
    .newsTile1 {
        background-color: var(--secondary-back);
        width: calc(100% - var(--large-pad) * 2);
        margin: 1em var(--large-pad);
    }

    .newsTile1 .img {
        background-repeat: no-repeat;
        background-size: cover;

        width: 100%;
        height: 25vh;
    }

    .newsTile1 .text {
        padding: 0 1em;
    }

    .newsTile1 h1 {
        line-height: 1.1em;
        font-size: 1.4em;
        border-bottom: .1em solid var(--primary-back-text);

        margin: .8em 0 .4em 0;
    }

    .newsTile1 p {
        margin: 0;
        padding: 0 0 1.6em 0;
        font-size: 1em;

        text-align: justify;
    }

    .newsTile1 .content-container {
        padding: var(--large-pad);
        height: 40%;
    }

    .newsTile1 .img-container {
        height: 20vh;
        overflow: hidden;
        position: relative;
    }

  body

    each val in [1,2,3,4,5]
      .newsTile1
        .img(style="background-image: url(/img/news.jpg);")
        .text
          h1 New thing
          p Ut verear feugait nec. Habeo iriure ad pri, ad pri duis aliquando, sea movet vivendo et. In aliquid voluptua tractatos mei, sit ea tale eruditi appareat. Est et nonumes temporibus, ut has solum noluisse. Convenire imperdiet no duo, minim errem vim ea.
        // button Read more

    .btn-container
      a(href="home")#foodback
        span.material-icons arrow_back
