doctype html
html
  head
    meta(name='”viewport”', content='”width=device-width,', initial-scale='1″')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='styles.css')
    link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Open+Sans&subset=latin-ext', rel='stylesheet')
  body
    .container-fluid
      .row
        .container-fluid.newsTile
          .row
            .col-8
              h1   
              p   
            .col-4
    .newsTile.grid-container
      .newsText.grid-item
        h1 Try our homemade Yuzu tea
        p Yuzu tea is a traditional korean drink made from a citrus fruit and honey.
      .grid-item
        img(src='img/news/yuzu.jpeg')
