doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Open+Sans+Condensed:300&subset=latin-ext', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='styles.css')
  body

    .flex-container
      form.flex-container#addressForm
        span.material-icons person
        input.name(type="text" placeholder="Name") 

        span.material-icons place
        input.name(type="text" placeholder="Place") 

        span.material-icons phone
        input.name(type="text" placeholder="Phone") 

        span.material-icons create
        input.name(type="text" placeholder="Note") 

  .btn-container
    button#close(href='menu.html')
      span.material-icons  close 
    button#submit(form='addressForm', type='submit')
      span.material-icons  check 
