doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700&amp;subset=latin-ext" rel="stylesheet")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')

  style.
    :root {
      --accent-col: #316f07;
      --primary-col: #7DEC1F;
      --primary-dark: #56A315;

      --separator: #999999;

      --secondary-back: #ffffff;
      --primary-text: #ffffff;
      --secondary-back-text: #343342;

      --logo-back: #ffffff;
      --primary-back: #E2E0DE;
      --primary-back-text: #757575;

      --pad: 4px;
      --large-pad: 8px;

      --but-size: 8vw;

      --tile-ht: 7em;
      --intile-ht: calc(var(--tile-ht) - var(--pad)*4);

      --dark: #1c1c24;
      --darkish: #343342;
      font-family: "Open Sans";
    }


    body { 
        background-color: var(--darkish); 
        color: var(--primary-back-text);
        margin: 0;
        box-sizing: border-box;
        
        
    }

    *, *::before, *::after { 
        font-family: "Open Sans", sans-serif;
    }

    /* checkboxes and radio buttons */
    input[type=checkbox], input[type=radio] {
        /* hide the checkbox altogether */
        /* instead use label:before */
        display: none;
    }
    input + label {
        /* text as block leave space for checkbox */
        display: block;
        margin: 2px 0;
        padding-left: 1.4em;  /* ^ space */
        position: relative;
        cursor: pointer;
    }
    input + label:before, input + label:after {
        /* positioning and size of checkbox */
        content: '';
        display: block;
        position: absolute;
        left: 0.3em;
        top: 0.3em;
        width: 0.8em;
        height: 0.8em;
    }
    input + label:after {
        transition: opacity var(--trans-len) var(--trans-fn);
        transition-property: transform, opacity;
        
        transform: scale(0);
        opacity: 0;
    }
    input:checked + label:after {
        transform: scale(0.5);
        opacity: 1;
    }
    [type=radio] + label:before, [type=radio] + label:after {
        /* round shape for radio */
        border-radius: 9999em;
    }
    [type=checkbox] + label:before, [type=checkbox] + label:after {
        /* slightly rounded corners for checkbox */
        border-radius: 0.1em;
    }

    /*  Colors  */
    input, label.radio:before, label.check:before {
        color: var(--dark);
        background: var(--primary-back);
    }
    label.radio:after, label.check:after {
        background: var(--primary-col);
    }

    .flex-container {
        display: flex;
        flex-direction: column;

        font-size: 1rem;
    }

    #order-main {

      padding: 3vw;
      padding-top: 10vh;

      font-size: 0.4rem;
      
      background-color:var(--darkish);
    }

    #addressForm {
        background-color: var(--secondary-back);
        margin-bottom: 2vh;
    }

    #paymentType {
        background-color: var(--secondary-back);

        flex-direction: column;
        justify-content: center;

        padding: 1em;
    }

    #paymentType p {
        font-weight: bold;
        margin: 2vh 0 1vh 0;
    }

    .infoitem {
        display: flex;

        padding: 1em;
    }

    .infoitem span {
        display: flex;
        align-items: center;

        color: var(--primary-col);
        margin-right: 3vw;
        font-size: 150%;
    }

    .infoitem input {
        width: 80%;

        color: var(--dark);
        background-color: transparent;
        
        border: 0px;
        border-bottom: 1px solid var(--separator);
    }

    .infoitem input:focus {
        border-bottom: 3px solid var(--primary-col);
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        z-index: 999;
        
        width: 100vw;
        height: 3rem;

        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--dark);

        justify-items: flex-start;
        align-items: center;
        padding-left: 2vw;
    }

    .btn-container span {
        display: flex;
        font-size: 1.4em;
        border: 0;
        background-color: var(--dark);
        color: var(--primary-col);
    }

    .vline {
        margin-top: 0%;
        height: 60%;
        width: 1px;
        background-color: var(--primary-col);
    }

    #back {
        margin-right: 5px;
        width: 20vw;
    }
    #submit {
        width: 80vw;
        background-color: transparent;
        color: var(--primary-col);
        border: 0px;
        font-weight: bold;
    }

    #thanks button {
      border-radius: 3px;
      border: 0px;
      background-color: var(--darkish);
      color: var(--primary-col);
    }

    #largebtn {
      padding: 0.5em;
    }

    #smallbtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
      height: 2em;
    }

    #smallbtn span {
      font-size: 0.9em;
    }
  
  body

    .flex-container#order-main
      form.flex-container#addressForm
        .infoitem
          span.material-icons person
          input.name(type="text" placeholder="Name" required) 
        .infoitem
          span.material-icons place
          input.name(type="text" placeholder="Place" required) 
        .infoitem
          span.material-icons phone
          input.name(type="text" placeholder="Phone" required) 
        .infoitem
          span.material-icons create
          input.name(type="text" placeholder="Note") 


      form.flex-container#paymentType
        p Payment type

        input(type='radio' name='payment' value='false' id='cash' checked)
        label.radio(for='cash') Cash

        input(type='radio' name='payment' value='true' id='card')
        label.radio(for='card') Card
            

    .btn-container
        a(href="home")
            span#back.material-icons arrow_back
        .vline
        button#submit(type="submit" data-toggle="modal" data-target="#thanks") Finish order


    #thanks.modal
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            h4.modal-title Thank you
            button#smallbtn(type="button" data-dismiss="modal")
              span.material-icons close

          .modal-body
            p Your order is being processed.

          .modal-footer
            button#largebtn(type="button" data-dismiss="modal") Close

    
