doctype html
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  body
    .container
        button.btn.btn-primary(type='button' data-toggle='modal' data-target='#thanks')
          | Open modal

        #thanks.modal
            .modal-dialog
                .modal-content
                .modal-header
                    h1.modal-title Thank you
                    button(type="button" data-dismiss="modal") &times

                .modal-body
                    p We will reply to your message as soon as we can

                .modal-footer
                    button(type="button" data-dismiss="modal") Close
