:root {
    --accent-col: #316f07;
    --primary-col: #7DEC1F;
    --primary-dark: #56A315;

    --separator: #999999;

    --secondary-back: #fcfad7;
    --primary-text: #fcfad7;
    --secondary-back-text: #343342;

    --logo-back: #ffffff;
    --primary-back: rgb(233, 232, 198);
    --primary-back-text: #757575;

    --pad: 4px;
    --large-pad: 8px;

    --but-size: 8vw;

    --tile-ht: 7em;
    --intile-ht: calc(var(--tile-ht) - var(--pad)*4);

    --dark: #1c1c24;
    --darkish: #343342;
    font-family: "Open Sans";

}


body { 
    background-color: var(--darkish); 
    color: var(--primary-back-text);
    margin: 0;
    box-sizing: border-box;
    
    
}

*, *::before, *::after { 
    font-family: "Open Sans";
}

/*   FOOD MENU   */

.daybtn {
    background-color: var(--secondary-back);
    color: var(--secondary-text);
    
    z-index: 100;

    margin-top: 1rem;
    margin-bottom: 0px;

    width: calc(100%);
    height: 2rem;

    border: 0;
    border-radius: 3px;

    position: relative;
    line-height: 2rem;
    
}

.daybtn em, .daybtn p {
    font-size: 1rem;
    vertical-align: middle;
    position: absolute;
    top: 0;

}

.daybtn em {
    margin: 0.5rem;
    right: 0;
}

.foodTile {
    font-size: 3vw;
    height: var(--tile-ht);

    margin-bottom: 5px;
    border-radius: 3px;
    background-color: var(--primary-back);

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}


.butt-container {
    position: relative; /* anchor for abs pos counter */
    flex: 0; /* don't stretch with resizing */
    flex-basis: 3em;
}
.butt-container button:nth-child(1) {
    /* leave space between buttons */
    margin-bottom: 4px;
}
.butt-container button {
    border-radius: 0;
}


.line {
    height: 2px;
    background-color: var(--primary-col);
    width: 90%;
    margin-right: 10%;
}

.amountBox {
    pointer-events: none; /* let it be click-through so buttons work */

    font-size: 0.9em;
    --size: 1.6em;
    height: var(--size);
    width: var(--size);

    /* centering of everything */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1em;
    padding-top: calc((var(--size) - 1em) / 2);

    z-index: 990;
    background-color: var(--primary-back);
    border-radius: 9999px;
    font-weight: bold;
}

.add-food em, .remove-food em {
    font-size: 1rem;

    position: absolute;

    --offset: calc(50% - 1rem / 2);
    left: var(--offset);
    top: var(--offset);
}

.add-food em:hover, .remove-food em:hover {
    color: var(--primary-back);
}

.add-food, .remove-food {
    background-color: var(--primary-col);
    color: var(--secondary-back);

    position: relative;

    width: 100%;
    height: 50%;
}


.foodinfo {
    flex: 1; /* stretch this however is needed */
    margin: .6em .6em;
    position: relative; /* anchor for price */
}
.foodname {
    margin: 0 0 .2em 0;
    border-bottom: 2px solid var(--primary-back-text);
}
.foodprice {
    position: absolute;
    top: 0;
    right: 0;
}
.foodname, .foodprice {
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--darkish);
}
.fooddesc {
    margin: 0;
    font-size: 1em;
}

.img-container {
    flex: 0;
    flex-basis: 7em;
    overflow-x: hidden;   
    overflow-y: hidden;
}

/*object fit?*/
.img-container img {
    width: 100%;
    height: 100%;
}

#foodButtons {
    display: none;
}

.foods-container {
    padding: 0 .6em;
    margin-bottom: 1em;
}

.food-main {
    margin: calc(var(--large-pad));
    padding: 0px;
    width: calc(100% - var(--large-pad) * 2);
}

#summary {
    display: none;
    background-color: var(--secondary-back);
}
/*   FOOD MENU   */


/*   ORDER   */

.main {
    background-color: var(--primary-back);
    margin: 1em;
}

.form-control {
    width: 80%;
    font-size: 4vw;
    border: 0px;
    border-bottom: 1px solid var(--separator);
    background-color: transparent;
}

.input-group-text {
    font-size: 6vw;
    border: 0px;
    background-color: transparent;
    color: var(--primary-col);
}

.custom-control-label {
    font-size: 4vw;
}

input[type=radio] {
    width: 100%;
    height: 10em;
}

#payment-type {
    text-align: center;
}
#payment-type p {
    margin-top: 2vh;

    text-align: left;

    font-size: 4vw;
    font-variant: small-caps;
    font-weight: bold;
}

.custom-control-inline {
    margin-right: 15vw;
}

.buttContainer {
    position: fixed;
    z-index: 999;
    width: 100%;
    bottom: 0;
    left: 0;

}

.bottomButtons {
    border: 0; 
    border-top: 1px solid var(--separator);

    display: inline-block;
    height: 7vh;
    
}

.cancel {
    background-color: var(--primary-col);
    float: right;
}

.cancel em {
    color: var(--dark);

    font-size: 2rem;
}

.submit em {
    color: var(--primary-col);

    font-size: var(--but-size);
}

.submit {
    border-left: 1px solid var(--separator);
    background-color: var(--primary-col);
    float: left;
    color: var(--dark);
    font-size: 1rem;
}

#foodsubmit {
    width: 75%;
}

#foodreset {
    width: 25%;
}

/*   ORDER   */

/*   SUMMARY    */
#foodpick, #summary {
    display: none;
}
.show {
    display: block !important; 
}


#header {
    font-weight: bold;
}



/*   HOME   */
.tile {
    margin: var(--pad);
    padding: var(--pad);

    
    color: var(--primary-text);
    background-color: var(--primary-col);
    border: 0px;

    position: relative;

    height: calc(50vh - var(--pad)*2);
}

.tile em {
    --f-size: 25vw;

    font-size: var(--f-size);

    position: absolute;
    text-align: center;

    margin-left: calc(var(--f-size)/-2);
    margin-top: calc(var(--f-size)/-2);

    left: 50%;
    top: 50%;

}

.buttonDesc {
    padding: 0;
    padding-left: 1vw;
    margin: 0;

    position: absolute;
    bottom: 1vh;

    font-size: 5vw;
}

/*   HOME   */


/*   NEWS   */

.grid-container {

    grid-template-columns: 70% 30%;
}

.newsTile2 {
    background-image: url("/img/news.jpg");
    background-repeat: no-repeat;
    color: var(--dark);

}

.newsTile2 p {
    filter: drop-shadow(10px 10px 4px var(--dark));
}


.newsTile {
    display: grid;
    background-color: var(--primary-back);
    width: calc(80% - var(--large-pad) * 2 - 2em);
    margin: var(--large-pad);
    font-size: 3vw;

    max-height: 20vh;

}

.newsTile1 {
    background-color: var(--primary-back);
    width: calc(100% - var(--large-pad) * 2);
    margin: 1em var(--large-pad);
}

.newsTile1 .img {
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 25vh;
}

.newsTile1 .text {
    padding: 0 1em;
}

.newsTile1 h1 {
    line-height: 1.1em;
    font-size: 1.4em;
    border-bottom: .1em solid var(--primary-back-text);

    margin: .8em 0 .4em 0;
}

.newsTile1 p {
    margin: 0;
    padding: 0 0 1.6em 0;
    font-size: 1em;

    text-align: justify;
}

.newsTile1 .content-container {
    padding: var(--large-pad);
    height: 40%;
}

.newsTile1 .img-container {
    height: 20vh;
    overflow: hidden;
    position: relative;
}


.newsTile h1 {
    font-size: 4vw;
}

.newsText {
    padding: 1em 0em 0em 2em;


}

/*nebo p?*/
.newsText h1 {
    margin: 0;
    border-bottom: 2px solid gray;
    color: var(--primary-col);
}
.newsText p {
    margin-right: 2em;
}


.newsTile img {
    height: 20vh;
    float: left;
    vertical-align: middle;
}

.newsTile:nth-child(2n) > * {
    float: right;
}
.newsTile:nth-child(2n) > .newsText {
    padding: 1em 0em 0em 2em;
}

.newsTile::after {
    clear: both;
    content:"";
    display:block;
}
/*   NEWS   */


/*  CONTACTS  */

.logo {
    position: relative;
}

#logo {
    position: absolute;
    left: calc(50% - 35vw / 2);
    top: 1vh;
    width: 35vw;

}

.link {
    color: var(--primary-col);
}

.link:hover {
    color: var(--primary-dark);
    text-decoration: none;
}

#info {
    margin-top: 10vh;
    padding: var(--pad);
}

#map {
    overflow: hidden;
    width: 100%;
    height: 40vw;
}

#map img {
    margin-left: -60vw;
    margin-top: -40vh;
}

/*  CONTACTS  */